:root,
:host {
  --sl-color-primary-50: rgb(251 248 255);
  --sl-color-primary-100: rgb(241 233 254);
  --sl-color-primary-200: rgb(231 216 253);
  --sl-color-primarye-300: rgb(219 197 252);
  --sl-color-primary-400: rgb(204 171 250);
  --sl-color-primary-500: rgb(181 141 238);
  --sl-color-primary-600: rgb(149 116 197);
  --sl-color-primary-700: rgb(123 95 161);
  --sl-color-primary-800: rgb(101 79 133);
  --sl-color-primary-900: rgb(72 56 95);
  --sl-color-primary-950: rgb(44 34 58);

  --dracula-color-background-50: rgb(249 249 250);
  --dracula-color-background-100: rgb(236 236 237);
  --dracula-color-background-200: rgb(222 222 224);
  --dracula-color-background-300: rgb(206 206 209);
  --dracula-color-background-400: rgb(185 186 190);
  --dracula-color-background-500: rgb(159 159 165);
  --dracula-color-background-600: rgb(130 132 138);
  --dracula-color-background-700: rgb(106 108 116);
  --dracula-color-background-800: rgb(87 89 98);
  --dracula-color-background-900: rgb(61 63 74);
  --dracula-color-background-950: rgb(36 38 49);

  --dracula-color-current-50: rgb(249 249 250);
  --dracula-color-current-100: rgb(236 236 238);
  --dracula-color-current-200: rgb(221 222 225);
  --dracula-color-current-300: rgb(205 206 211);
  --dracula-color-current-400: rgb(184 186 193);
  --dracula-color-current-500: rgb(158 159 169);
  --dracula-color-current-600: rgb(129 131 144);
  --dracula-color-current-700: rgb(105 107 123);
  --dracula-color-current-800: rgb(86 88 105);
  --dracula-color-current-900: rgb(60 62 79);
  --dracula-color-current-950: rgb(37 38 48);

  --dracula-color-comment-50: rgb(249 249 251);
  --dracula-color-comment-100: rgb(234 236 243);
  --dracula-color-comment-200: rgb(218 222 234);
  --dracula-color-comment-300: rgb(201 206 224);
  --dracula-color-comment-400: rgb(178 186 210);
  --dracula-color-comment-500: rgb(148 159 193);
  --dracula-color-comment-600: rgb(117 131 175);
  --dracula-color-comment-700: rgb(92 107 153);
  --dracula-color-comment-800: rgb(76 88 126);
  --dracula-color-comment-900: rgb(54 62 90);
  --dracula-color-comment-950: rgb(33 38 55);

  --dracula-color-foreground-50: rgb(250 250 245);
  --dracula-color-foreground-100: rgb(237 237 231);
  --dracula-color-foreground-200: rgb(222 222 217);
  --dracula-color-foreground-300: rgb(207 207 202);
  --dracula-color-foreground-400: rgb(186 186 182);
  --dracula-color-foreground-500: rgb(160 160 156);
  --dracula-color-foreground-600: rgb(132 132 129);
  --dracula-color-foreground-700: rgb(108 108 106);
  --dracula-color-foreground-800: rgb(89 89 87);
  --dracula-color-foreground-900: rgb(63 63 62);
  --dracula-color-foreground-950: rgb(39 39 38);

  --dracula-color-cyan-50: rgb(238 252 255);
  --dracula-color-cyan-100: rgb(198 244 254);
  --dracula-color-cyan-200: rgb(150 235 253);
  --dracula-color-cyan-300: rgb(131 220 238);
  --dracula-color-cyan-400: rgb(118 198 215);
  --dracula-color-cyan-500: rgb(101 170 185);
  --dracula-color-cyan-600: rgb(84 140 152);
  --dracula-color-cyan-700: rgb(69 115 125);
  --dracula-color-cyan-800: rgb(57 95 103);
  --dracula-color-cyan-900: rgb(40 67 73);
  --dracula-color-cyan-950: rgb(25 41 45);

  --dracula-color-green-50: rgb(235 254 240);
  --dracula-color-green-100: rgb(180 253 199);
  --dracula-color-green-200: rgb(97 250 136);
  --dracula-color-green-300: rgb(75 235 115);
  --dracula-color-green-400: rgb(68 211 104);
  --dracula-color-green-500: rgb(58 182 89);
  --dracula-color-green-600: rgb(48 150 74);
  --dracula-color-green-700: rgb(39 123 61);
  --dracula-color-green-800: rgb(33 102 50);
  --dracula-color-green-900: rgb(23 72 36);
  --dracula-color-green-950: rgb(14 45 22);

  --dracula-color-orange-50: rgb(255 248 241);
  --dracula-color-orange-100: rgb(255 233 209);
  --dracula-color-orange-200: rgb(255 215 173);
  --dracula-color-orange-300: rgb(255 195 131);
  --dracula-color-orange-400: rgb(239 172 101);
  --dracula-color-orange-500: rgb(205 148 87);
  --dracula-color-orange-600: rgb(170 122 72);
  --dracula-color-orange-700: rgb(139 100 59);
  --dracula-color-orange-800: rgb(115 83 49);
  --dracula-color-orange-900: rgb(82 59 35);
  --dracula-color-orange-950: rgb(50 36 21);

  --dracula-color-pink-50: rgb(255 247 252);
  --dracula-color-pink-100: rgb(255 229 244);
  --dracula-color-pink-200: rgb(255 209 236);
  --dracula-color-pink-300: rgb(255 186 226);
  --dracula-color-pink-400: rgb(255 154 212);
  --dracula-color-pink-500: rgb(243 115 189);
  --dracula-color-pink-600: rgb(201 95 156);
  --dracula-color-pink-700: rgb(165 78 128);
  --dracula-color-pink-800: rgb(136 65 106);
  --dracula-color-pink-900: rgb(97 46 75);
  --dracula-color-pink-950: rgb(60 28 46);

  --dracula-color-purple-50: rgb(251 248 255);
  --dracula-color-purple-100: rgb(241 233 254);
  --dracula-color-purple-200: rgb(231 216 253);
  --dracula-color-purple-300: rgb(219 197 252);
  --dracula-color-purple-400: rgb(204 171 250);
  --dracula-color-purple-500: rgb(181 141 238);
  --dracula-color-purple-600: rgb(149 116 197);
  --dracula-color-purple-700: rgb(123 95 161);
  --dracula-color-purple-800: rgb(101 79 133);
  --dracula-color-purple-900: rgb(72 56 95);
  --dracula-color-purple-950: rgb(44 34 58);

  --dracula-color-red-50: rgb(255 248 248);
  --dracula-color-red-100: rgb(255 231 231);
  --dracula-color-red-200: rgb(255 212 212);
  --dracula-color-red-300: rgb(255 190 190);
  --dracula-color-red-400: rgb(255 160 160);
  --dracula-color-red-500: rgb(255 116 116);
  --dracula-color-red-600: rgb(232 77 77);
  --dracula-color-red-700: rgb(191 64 64);
  --dracula-color-red-800: rgb(158 53 53);
  --dracula-color-red-900: rgb(113 38 38);
  --dracula-color-red-950: rgb(70 23 23);

  --dracula-color-yellow-50: rgb(249 253 208);
  --dracula-color-yellow-100: rgb(235 244 136);
  --dracula-color-yellow-200: rgb(221 229 128);
  --dracula-color-yellow-300: rgb(205 213 119);
  --dracula-color-yellow-400: rgb(185 192 107);
  --dracula-color-yellow-500: rgb(159 165 92);
  --dracula-color-yellow-600: rgb(131 136 76);
  --dracula-color-yellow-700: rgb(108 112 62);
  --dracula-color-yellow-800: rgb(89 92 52);
  --dracula-color-yellow-900: rgb(63 65 37);
  --dracula-color-yellow-950: rgb(39 40 22);
}
